* {
    font-weight:1000
}

.month, .day {
    color: lightgray;
    background-color: black;
}

.container {
    margin: auto;
    width: 560px;
    height: 340px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    font-family: Comic Sans Ms;
}

td:hover {
    border-radius: 8px;
    background-color: antiquewhite;
}

body {
    background-color: antiquewhite
}

